version: '3.8'

services:
  app:
    build: .
    container_name: exercicio-2-flask
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
